.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px 0px 0px;
  cursor: pointer;
}


.flex-job{
  display: flex;
  justify-content:flex-start;
}


.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.1s;
}


.titulo-seccion {
  font-weight:bold;
  font-size: 2rem;
  color: black;
}


.trigger:hover {
  color: #000000;
}



  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }